<div>
	<!-- <ul>
		<li ng-repeat="stock in stockList">
			{{ stock.data[0] }}
		</li>
	</ul> -->
	<table>
		<tr>
			<th>
				Code
			</th>
			<th>
				Name
			</th>
			<th ng-repeat="column in stockList[0].column_names track by $index">
				{{ column }}
			</th>		
		</tr>
		<tr ng-repeat="stock in stockList">
			<td>
				{{ stock.code }}
			</td>
			<td>
				{{ stock.name }}
			</td>
			<td ng-repeat="data in stock.data[0] track by $index">
				{{ data }}
			</td>
		</tr>
	</table>
</div>